
#decisionPanel{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.819);
}

#offerContainer{
    overflow-y:scroll;
    overflow-x:hidden;
}


#offerContainer li{
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y:scroll;
    overflow-x:hidden;
    height: 92vh;
    width: 80%;
    transform: translate(0%, 0%);
    padding-bottom: 20px;

}
#selectionPanel{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
}

.selectionButtons{
    position: relative;
    border: 8px solid rgba(108, 108, 108, 0.231);
    background-color:rgb(44, 44, 44);
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#backButton, #closePanelButton{

    align-self:flex-start;
    width: 50px;
    height: 50px;
    
}
#backButton img{
    width: 20px;
}
#closePanelButton img{
    width: 20px;
}
#rejectButton{
    width: 70px;
    height: 70px;
}
.selectionButtons img{
    width: 35px;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 5px;    
}
#acceptButton{
    width: 70px;
    height: 70px;
}

/* li p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */






/* PARAGRAPHS IN MINI OFERT DISPLAY */
#offersList li{
    position: relative;

}

#offersList li p{
    margin-bottom: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#offersList li #companyName{
    font-size: 1em;
}

#offersList li #offerName{
    font-size: 1.1em;
}

#offersList li #seniority{
    font-size: 1em;
}

#offersList li #B2Bsalary{
    font-size: 1em;
    position: absolute;
    right:5px;
    top: 5px;
}
#offersList li #contractSalary{
    font-size: 1em;
    position: absolute;
    right:5px;
    top: 5px;
}

#offersList li #mandateContractSalary{
    font-size: 1em;
    position: absolute;
    right:5px;
    top: 5px;
}
#offersList li #B2Bsalary::before{
    content:'';
}
#offersList li #contractSalary::before{
    content:'';
}
#offersList li #mandateContractSalary::before{
    content:'';
}


#offersList li #contractSalary{
    font-size: 1em;
}

#offersList li #mandateContractSalary{
    font-size: 1em;
}

/* PARAGRAPHS INSIDE THE OFFER*/
#offerName {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00b7ff;
}
#companyName {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: orange;
}
#seniority {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}
#B2Bsalary, #contractSalary, #mandateContractSalary{
    text-align: right;
    font-size: 1.2em;
    color: #00b300;
}
#B2Binformation, #contractInformation, #mandateContractInformation{
    text-align: right;
    font-size: 1em;
    margin-bottom: 20px;
    color: #ffffff;
}
#B2Bsalary::before {
    content: "B2B - ";
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    font-size:0.8em;


}
#contractSalary::before {
    content: "Contract - ";
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    font-size:0.8em;

}
#mandateContractSalary::before {
    content: "Mand. Contr. - ";
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    font-size:0.8em;

}
#B2Binformation, #contractInformation, #mandateContractInformation{
    text-align: right;
    margin-bottom: 20px;
}
#skillsMustHave, #skillsNiceToHave {
    border-radius: 32px;
    font-size: 0.9em;
    margin-bottom: 20px;
    padding-left: 15px;
}
#offerContainer li #skillsMustHave::before {
    content: "Must Have: ";
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    color: #00b7ff;

}

#skillsNiceToHave::before {
    content: "Nice To Have: ";
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    color: #00b7ff;
}
#jobDescription, #dailyTasks, #jobDetails, #equipmentSupplied, #methodology, #perksInOfficeAndBenefits {
    margin-bottom: 20px;
}



/*
offerName,
locations,
seniority,
B2Bsalary,
B2Binformation,
contractSalary,
contractInformation,
mandateContractSalary,
mandateContractInformation,
skillsMustHave,
skillsNiceToHave,
jobDescription,
dailyTasks,
jobDetails,
equipmentSupplied,
methodology,
perksInOfficeAndBenefits
*/