*{
    color:white;
    padding: 0px 0px;
}

body{
    background: linear-gradient(56deg,  #05347b,  #021228);    
    text-align: center
}

#container{
    position: absolute;
    display: inline-block;
    border: 1px solid white;
    width: 90vw;
    height: 95vh;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 35px;
}

#submitButton{
    border: 1px solid white;
    color: white;
    background-color: #0c3676;
    border-radius: 35px;
    padding: 5px 18px;
    margin: 5px 0 10px;
    font-weight: bolder;
}

input{
    margin: 0px 0 0px;
    background-color: white;
    color: #03152f;
    width: 55vw;
    height: 3vh;
    border-radius: 35px;
}

h1{
    margin: 50px 0 20px;
}

h3{
    color: white;
}

.register-comments{position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 400
}

.register-comments p{
    display: none;
    color: rgb(173, 173, 173);
    margin: 2px 0px;
    font-size: 0.9rem;

}

.input-containers{
    position: relative;
    display: inline-block;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 10px;

}