extends ../layout.pug
include unauthorizedNavigation 

block content
  #container
      h2=title
      form(action='/user/login' method='post')
        label Email
        br
        input#email(type='text' name='email' required)
        br
        label Password
        br
        input#password(type='password' name='password' required)     
        br
        button#submitButton(styles='buttons')='Login'
      span
        p
          a(href='/register.pug') Create new account
      span
        p 
          a(href='/forgetPassword.pug') Forget password