extends ../layout.pug

block content
  #container
      h2 Log in
      form(action='/login' method='post')
        label Email
        br
        div(class="input-containers")
          input#email(type='text' value=email name='email' required)
        br
        label Password
        br
        div(class="input-containers")
          input#password(type='password' name='password' required)     
        br
        div
        - const values = messages || [];
        -if(values.length)
          ul#loginFeedbackList(style=style)
            each val in values
              li= val
        button#submitButton(styles='buttons')='Login'
      span
        p
          a(href='/register') Sign in
      span
        p 
          a(href='/forgetPassword.pug') Forget password

  script(src='/js/logInValidation.js')