extends ../layout.pug
include unauthorizedNavigation 

block content
  #container
      h2=title
      form(action='/user/login' method='post')
        label Email
        br
        input#email(type='text' name='email' required)
        br
        label Password
        br
        input#password(type='password' name='password' required)     
        br
        button#submitButton(styles='buttons')='Login'
      span
        p
          a(href='/register') Sign in
      span
        p 
          a(href='/forgetPassword.pug') Forget password
      div
        - const values = errorMessages || [];
        -if(values.length)
          ul#errorContainer
            each val in values
              li= val
  script(src='/js/logInValidation.js')