extends ../layout.pug

block content
  #container
    h2=title
    form(action="/user/reqister" method="post")
      div(class="input-containers")
        label User name
        br
        input#nameInput(type="text" name="name" required authocomplete="off")
        br
        span(class="register-comments")
          p#nameComment Min 2 characters

      div(class="input-containers")
        label Email
        br
        input#email(type="text" name="email" required authocomplete="off")
        br
        span(class="register-comments")
          p#emailComment Provide correct email

      div(class="input-containers")
        label Password
        br
        input#password(type="password"  name="password" required authocomplete="off")
        br
        span(class="register-comments")
          p#passwordComment 8 characters; 1 uper and lowercase, special character, number

      div(class="input-containers")
        label Password
        br
        input#password(type="password"  name="password" required authocomplete="off")
        span(class="register-comments")
          p#passwordComment 8 characters; 1 uper and lowercase, special character, number
        br
        
        button#submitButton(styles="buttons") Login
    span
      p
        a(href='/') Login
    span
      p 
        a(href='/forgetPassword.pug') Forget password
