mixin item(title, url)
  li
    a(href=url class=path == url ? 'active' : '')=title 

block content
  nav
    ul
      +item('About', "/about")
      +item('Login', "/login")
      +item('Sign in', "/register")
